TwitchPlaysYourGame/TwitchPlaysTest/Password.cs
TwitchPlaysYourGame/TwitchPlaysTest/bin/
TwitchPlaysYourGame/TwitchPlaysTest/obj/
TwitchPlaysYourGame/TwitchPlaysYourGame/obj/
UnityGame/TwitchPlaysDemoGame/Library/
